.no-results-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; // Fundo branco para os detalhes do filme
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px; // Limita a largura máxima para melhor leitura
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 100vh; 
  }